/*
* {
    border: 1px solid black;
}
*/

#darkBC{
    background: #1F2937;
}

.container{
    background-color: yellow;
    margin-inline: 200px;
    justify-content: center;
    justify-items: center;
    display: flex;
}

.col{
    flex-direction: column;
    background-color: orange;
}

.row{
    flex-direction: row;
    background-color: green;
}

.item{
    background-color: blue;
    height: 48px;
    width: 48px;
    margin: 10px;
    flex: 1;
}

/*
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.tmp{
    flex: 1;
    align-self: center;
    height: 100px;
}

.container .tmp{
    flex: 1;
    align-self: center;
}
*/